* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: lightgrey;
}

.navbar-brand {
    color: #cbb09c;
    font-size: 1.3rem;
}

.nav-link {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #cbb09c;
    font-size: 1.3rem;
}

.footer {
    background-color: lightgrey;
}

.footer > p {
    color: grey;
    font-size: 1.3rem;
}